@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Dispay:ital@0;1&family=Poppins&display=swap");

body{
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1,
h2{
    font-family: "DM serif-display", serif;
    color: #184f63;
}

/*Hero*/
#hero{
    background-color: #dbdcde;
    background: url("../images/background.webp") no-repeat center center/cover;
    min-height: 500px;
    background-position:50% 70%;
    padding: 5% 7%;
}

/*About section*/
#about{
    background-color: white;
}

/*Portfolio*/
#portfolio{
    background-color: #dbdcde;
}

/*Contact section*/
#contact{
    background-color: white;
}