@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Dispay:ital@0;1&family=Poppins&display=swap");

body{
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1,
h2{
    font-family: "DM serif-display", serif;
    color: #184f63;
}

.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}

.custom-button{
    border-color: #276AB3;
    background-color: #276AB3;
    color: white;
}

.custom-button:hover{
    border-color:#1d6d8a;
    background-color:#1d6d8a;
}

/*Hero*/
#hero{
    background-color: #dbdcde;
    background: url("../images/background.webp") no-repeat center center/cover;
    min-height: 500px;
    background-position:50% 70%;
    padding: 5% 7%;
}

/*About section*/
#about{
    background-color: white;
}

/*Portfolio*/
#portfolio{
    background-color: #dbdcde;
}

#portfolio .card-title{
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .card-text{
    min-height:120px;
}

#portfolio a:hover{
    color: #1f7798;
}

/*Contact section*/
#contact{
    background-color: white;
}

/*Media Queries*/
@media screen and (min-width: 1200px){
    #portfolio .card-text{
        min-height:auto;
    }
}
